<ion-view view-title="Test">
  <ion-content>
  <div class="list list-inset">
  <label class="item item-input">
    <input type="text" ng-model="name" placeholder="type your text">
  </label>
 	<h5>Welcome to my app {{name}}</h5>
</div>
   
   
<div class="card">
  <div class="item item-text-wrap royal">
    This is a basic Card which contains an item that has wrapping text.  This is a basic Card which contains an item that has wrapping text. This is a basic Card which contains an item that has wrapping text.
  </div>
</div>
<div class="card">
  <div class="item item-text-wrap">
    This is a basic Card which contains an item that has wrapping text.
  </div>
</div>
<div class="card">
  <div class="item item-text-wrap">
    This is a basic Card which contains an item that has wrapping text.
  </div>
</div>

<div class="list card">

  <div class="item item-avatar">
    <img src="avatar.jpg">
    <h2>Pretty Hate Machine</h2>
    <p>Nine Inch Nails</p>
  </div>

  <div class="item item-image img-fix">
    <img src="img/ionic.png">
  </div>

  <a class="item item-icon-left assertive" href="#">
    <i class="icon ion-music-note"></i>
    Start listening
  </a>

</div>
   
  </ion-content>
</ion-view>

